{% extends 'SnideMonitorBundle::base.html.twig' %}

{% block main %}
        <h1>Applications</h1>

        <table  class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>URL</th>
                <th>State</th>
                <th>Message</th>
                <th>Action(s)</th>
            </tr>
            </thead>
            <tbody>
            {% for application in applications %}
                <tr>
                    <td>{{ application.name }}</td>
                    <td>{{ application.url }}</td>
                    <td>{% if application.isWorking() %}
                            <img width="30" src="{{ asset('/bundles/snidemonitor/images/green.png') }}" />
                        {% else %}
                            <img  width="30"  src="{{ asset('/bundles/snidemonitor/images/red.png') }}" />
                        {% endif %}</td>
                    <td>
                        {% if application.exception %}
                            {{ application.exception.message }}
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('snide_monitor_application_edit', {'id': application.id}) }}">Edit</a>
                        {% if application.tests %}
                            | <a href="#" data-toggle="modal" data-target="#{{ application.id }}">Show Tests</a>
                            {% include 'SnideMonitorBundle:Application:modal_tests.html.twig' with {'application': application} %}
                        {% endif %}
                        | <a href="{{ path('snide_monitor_application_delete', {'id': application.id}) }}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    <p>To add an application, <a href="{{ path('snide_monitor_application_new') }}">click here</a></p>
{% endblock %}