{% extends 'SnideMonitorBundle::base.html.twig' %}

{% block main %}

    <div class="row">
        <div id="content" class="span12">
            <h1>Create an application</h1>
            <form action="{{ path('snide_monitor_application_create') }}" method="post" {{ form_enctype(form) }}>

                {{ form_row(form.id) }}
                {{ form_row(form._token) }}

                <div class="control-group">
                    {{ form_errors(form.name) }}
                    {{ form_label(form.name) }}
                    <div class="controls form-group">
                        {{ form_widget(form.name) }}
                    </div>
                </div>

                <div class="control-group">
                    {{ form_errors(form.url) }}
                    {{ form_label(form.url) }}
                    <div class="controls form-group">
                        {{ form_widget(form.url) }}
                    </div>
                </div>
                <div class="form-actions">
                    <button class="btn-sub" type="submit" value="Submit">Submit</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}